
@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[] {"Sektion",
                                            "Række",
                                            "Skuffe",
                                            "Rum",
                                            "Vare Navn",
                                            "Antal",
                                            "Type",
                                            "Leverandør",
                                            "Leverandør Nummer",
                                            "Beskrivelse"};

}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{ if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Section</td>
                            <td>@Data.Row</td>
                            <td>@Data.Drawer</td>
                            <td>@Data.Room</td>
                            <td>@Data.Product</td>
                            <td>@Data.Amount</td>
                            <td>@Data.Type</td>
                            <td>@Data.Supplier</td>
                            <td>@Data.SupplierNumber</td>
                            <td>@Data.Description</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
